Package: com.saihgupr.remotecompanion
Name: RemoteCompanion
Depends: mobilesubstrate, firmware (>= 15.0)
Version: 1.0.0
Architecture: iphoneos-arm
Description: Remote Companion App & Tweak
Maintainer: Saihgupr
Author: Saihgupr
Section: Tweaks
Replaces: com.pizzaman.remotecommand
Conflicts: com.pizzaman.remotecommand
