Package: com.pizzaman.remotecompanion
Name: RemoteCompanion
Depends: mobilesubstrate, firmware (>= 15.0)
Version: 1.0.0
Architecture: iphoneos-arm
Description: Remote Companion App & Tweak
Maintainer: Pizza Man
Author: Pizza Man
Section: Tweaks
Replaces: com.pizzaman.remotecommand
Conflicts: com.pizzaman.remotecommand
